<h1>new#music</h1>

<%= simple_form_for @music do |f| %>
  <div class="form">
    <%= f.input :author, placeholder: 'Artist name' %>
    <%= f.input :title, placeholder: 'Track name' %>
    <div class="submit">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to "Back to index", lists_path, class:"btn btn-info" %>
    </div>
  </div>
<% end %>
